@using CarRentAPI.Application.DTO;
@model RentDetailsDTO

<!doctype html>
<html>
    <head>

    </head>
    <body>
        <h1>Dziękujemy za rezerwację auta</h1>
        <br />
        <p>@Model.EndPrice</p>
        <p>@Model.FuelPrice</p>
        <p>@Model.Car.Name</p>
        <p>@Model.Car.PriceCatName</p>
    </body>
</html>